<div>
    <button md-raised-button disabled="{{isActive}}" (click)="doActive(true)">Start</button>
    <button md-raised-button disabled="{{!isActive}}" (click)="doActive(false)">Stop</button>
    <ngx-datatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [trackByProp]="'updated'" [rows]="rows">
        <ngx-datatable-column name="Name"></ngx-datatable-column>
        <ngx-datatable-column name="Gender"></ngx-datatable-column>
        <ngx-datatable-column name="Company"></ngx-datatable-column>
        <ngx-datatable-column name="updated"></ngx-datatable-column>
    </ngx-datatable>
</div>